*{
    box-sizing: border-box;
}
th{
    font-size: 15pt;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 10pt;
}
td{
    border: 1px solid black;
    border-spacing: 0px;
    width: 5em;
    height: 5em;
    text-align: center;
    padding: 10px;
}
