*{
    box-sizing: border-box;
}
#content {
    background-color: beige;
    width:100%;
}
body {
    box-shadow: 0px 0px 5px grey;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    position: relative;
}
#heading{
    text-align: center;
    border-bottom: 5px;
    border-style: solid;
    background-color: bisque;
}
#dummy {
    clear: both;
}
#main {
    width: calc(100% - 100px);
    padding: 10px 10px;
    display: inline-block;
    margin-left: 100px;

}
#pages a{
    text-decoration: none;
}
#pages {
    float: left;
    background-color: lightblue;
    position: absolute;
    left: 0px;
    top: 88px;
    bottom: 0px;  
    width: 100px; 
}
#pizzahomeimage {
    background-image: url("pepperoni.png");
    float:left;
    width: 400px;
    height: 203px;
    position: relative;
    top:0;
    right:0;
    background-size: 400px;
}
ul {
    list-style-type: none;
    padding: 10px 10px;
    margin-bottom: 10px;
}
footer{
    margin-left: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
#order {
    position: fixed;
    top:0;
    right:0;
    background-image: url("pizza.png");
    width: 100px;
    height: 102px;
    background-size: 100px;
}
#ordernow {
    position: absolute;
    font-size: 18pt;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#pizza1 {
    width:200px;
    float: left;
    padding-right: 10px;
}
#pizza2{
    width: 200px;
    float: right;
    padding-left: 10px;
}
#pizza3{
    width: 200px;
    float: left;
    padding-right: 10px;
}
#map {
    width: 480px;
}