*{
    box-sizing: border-box;
}
#conpic{
    width:100px;
    float: left;
    margin-right: 10px;
}
#mainbody{
    width:70%;
    border-right: solid 2px;
    border-left: solid 2px;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 570px;
    padding: 10px 30px 0px 30px;
}
p{
    word-wrap: break-word;
}
#para{
    margin-top: 10px;
    padding: 10px;
}
#pic{
    display: block;
    width: 30%;
    background-color: black; 
    margin-left: auto;
    margin-right: auto;
}
#image{
    background-color: black;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
}