*{
    box-sizing: border-box;
}
body{
    margin:0;
}
#mainbody{
    width:70%;
    border-color: black;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 30px;
}
#name{
    background-color: lightblue;
    margin: 0;
    padding:10px;
    background-image: url("Images/groupofflowersbanner.jpg");
    background-position: left;
    color:white;
    border-bottom: solid 2px;
    border-color: black;
}
#pages{
    text-align: center;
    border-bottom: solid 2px;
}
.mainpages{
    display:inline-block;
    margin-left: 0px;
    padding: 5px 10px 5px 10px;
    border-right: solid 1px;
}
#home{
    border-left: solid 1px;
}
.navigationpage{
    color:black;
    text-decoration: none;
}
.mainpages:HOVER{
    background-color: lightgrey;
}
#unorderedpages{
    margin:0;
}
/* footers */
#footerdiv{
    background-color: rgb(0, 119, 255);
    height: 160px;
}
.footerpages{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: White;
}
#footnavpages{
    text-align: center;
}
#pagefooter{
    margin:0;
}
#copyright{
    text-align: center;
    font-size: 10pt;
}
#footerlogo{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
/*media mobile*/
@media (max-width: 800px){
    .mainpages{
        display:block;
        padding: 5px 10px 5px 10px;
        border: solid 1px;
        margin:0;
    }
    #unorderedpages{
        padding:0;
    }
    #mainbody{
        width:100%;
        display: block;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        height: auto;
        border: none;
    }
    #footerdiv{
        height: 100%;
    }
}