*{
    box-sizing: border-box;
}
.location{
    margin-top:0px;
    border-bottom: solid 1px;
}
p{
    margin: 0;
}
.left{
    margin-left:auto;
    margin-right: auto;
}
.right{
    margin-top:10px;
    margin-left:auto;
    margin-right: auto;
}
#ubflogo{
    float: right;
    width: 140px;

}
#map{
    display:block;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    position: relative;
    height: 500px;
}
#googlemap{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:450px;
}
@media (max-width: 600px){
    #map{
        width:100%;
        margin:10px 0 0 0;
        padding:0;
    }
}