*{
    box-sizing: border-box;
}
#unorderedpages{
    padding:0;
}
#conpic{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#dailybread{
    width:95%;
    word-wrap: break-word;
    margin-left: 25px;
}
#dailybread h2{
    border-bottom: solid 2px;
}
.date{
    text-align: right;
}
#dailybread{
    padding-bottom: 20px;
    border-bottom: solid 2px;
}
#announcements h2{
    margin-top: 50px;
    border-bottom: solid 2px;
}
#announcements{
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: solid 2px;
}
#linktohqpage{
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 10px;
    float:right;
    border: solid 1px;
}
#linktohqpage:hover{
    background-color: lightgray;
}
/*media mobile*/
@media (max-width: 600px){
    #conpic{
        width: 100%;
    }
    #announcements{
        width:100%;
        margin:0;
        padding: 10px;
    }
    #dailybread{
        width:100%;
        word-wrap: break-word;
        margin: 0;
        padding: 10px;
    }
    #pagefooter{
        padding: 0;
    }
    #linktohqpage{
        text-decoration: none;
        color: black;
        background-color: lightblue;
        float:right;
        border: solid 1px;
        margin-top: 11px;
        width: 100%;
        padding: 10px;
    }
}